* {
    padding: 0;
    margin: 0;

    div {
        border:px solid red;
    }
}

.main {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    gap: 30px;
}

.m1 {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.mt1 {
    flex: 2;
    display: flex;
    align-items: last baseline;

}

.text1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
}

.mt2 {
    flex: 1;
    display: flex;
    align-items: self-start;
}

.text2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #5c5858;
}

.top1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.m2 {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.m21 {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m22 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m23 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m3 {
    flex: 1;
    display: flex;
    align-items: center;
    color: #000000b1;

}

.m4 {
    flex: 7;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.m5 {
    flex: 1;
    display: flex;
    align-items: center;
}

.text3 {
    font-size: 15px;
    color: #000000a5;
}

.bottom1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}

.bottom1:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bt1 {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 10px;
}

.bt2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.j1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.j2 {
    flex: 1;
    display: flex;
    align-items: center;
}

.j3 {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.o1 {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2px;
}

.o2 {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.o3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    height:140%;
   width:100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

/* img:hover {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
} */
.button1{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    right: 990px;
    opacity: 0;
}
.bottom1:hover .book-btn{
    opacity: 1;
    z-index: 1;
}
.bottom1:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}



/* img:hover .bottom1:hover{
    transform: translate(-50%,-50%);
    opacity: 1;
} */

.text3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #00000090;
}

.text4 {
    font-family: sans-serif;
    color: #0000006c;
    padding-left: 10px;
}

.text5 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
}

.text7 {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: blue;
}

.text {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.s1 {
    height: 18px;
    width: 20px;
    padding-left: 3px;
}

.k2 {
    height: 15px;
    width: 15px;
}

.text8 {
    font-size: 15px;
    font-family: sans-serif;
    color: #0000006c;
}

.m211 {
    height: 30px;
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #e7dcdc;
    border-radius: 8px;
}

.l2 {
    height: 15px;
    width: 15px;
    padding-left: 10px;
}

.l3 {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #e7dcdc;
    border-left: 0;
}

.k4 {
    height: 30px;
    background-color: #e7dcdc;
    outline: none;
    border: none;
    border-radius: 8px;
}

.u1 {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 100px;
}

.bottom2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}

.bottom2:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 1000px) {
    .m4{
        flex-direction: column;
    }
    .j3{
        flex-direction: column;
    }
    .main{
        height: 100%;
    }
    .text1{
        font-size: 30px;
    }
    .text2{
        font-size: 15px;
    }
    .m2{
        flex-direction: column;
        gap: 2px;
    }
    .m211{
        width: 100%;
    }
    .k4{
        width:100%;
    }
    .book-btn{
         top:1150px;
          right:250px; 
    }
}
.button2{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn1{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    right: 680px;
    opacity: 0;
}
.bottom2:hover .book-btn1{
    opacity: 1;
    z-index: 1;
}
.bottom2:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom2:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* END*/
.button3{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn3{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    right: 380px;
    opacity: 0;
}
.bottom3:hover .book-btn3{
    opacity: 1;
    z-index: 1;
}
.bottom3:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom3:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button4{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn4{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    right: 80px;
    opacity: 0;
}
.bottom4:hover .book-btn4{
    opacity: 1;
    z-index: 1;
}
.bottom4:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom4:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button5{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn5{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 1080px;
    right: 990px;
    opacity: 0;
}
.bottom5:hover .book-btn5{
    opacity: 1;
    z-index: 1;
}
.bottom5:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom5 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom5:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button6{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn6{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 1080px;
    right: 680px;
    opacity: 0;
}
.bottom6:hover .book-btn6{
    opacity: 1;
    z-index: 1;
}
.bottom6:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom6 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom6:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button7{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn7{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
     top: 1080px;
    right: 380px;
    opacity: 0;
}
.bottom7:hover .book-btn7{
    opacity: 1;
    z-index: 1;
}
.bottom7:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom7 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom7:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button8{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn8{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
     top: 1080px;
    right: 80px;
    opacity: 0;
}
.bottom8:hover .book-btn8{
    opacity: 1;
    z-index: 1;
}
.bottom8:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom8 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom8:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button9{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn9{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 1635px;
    right: 990px;
    opacity: 0;
}
.bottom9:hover .book-btn9{
    opacity: 1;
    z-index: 1;
}
.bottom9:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom9 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom9:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button10{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn10{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 1635px;
    right: 680px;
    opacity: 0;
}
.bottom10:hover .book-btn10{
    opacity: 1;
    z-index: 1;
}
.bottom10:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom10 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom10:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/**/
.button11{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn11{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 1635px;
    right: 380px;
    opacity: 0;
}
.bottom11:hover .book-btn11{
    opacity: 1;
    z-index: 1;
}
.bottom11:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom11 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom11:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button12{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn12{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 1635px;
    right: 80px;
    opacity: 0;
}
.bottom12:hover .book-btn12{
    opacity: 1;
    z-index: 1;
}
.bottom12:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom12 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom12:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button13{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn13{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2135px;
    right: 990px;
    opacity: 0;
}
.bottom13:hover .book-btn13{
    opacity: 1;
    z-index: 1;
}
.bottom13:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom13 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom13:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button14{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}


.book-btn14{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2135px;
    right: 680px;
    opacity: 0;
}
.bottom14:hover .book-btn14{
    opacity: 1;
    z-index: 1;
}
.bottom14:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom14 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom14:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button15{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn15{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2135px;
    right: 380px;
    opacity: 0;
}
.bottom15:hover .book-btn15{
    opacity: 1;
    z-index: 1;
}
.bottom15:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom15 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom15:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button16{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn16{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2135px;
    right: 380px;
    opacity: 0;
}
.bottom16:hover .book-btn16{
    opacity: 1;
    z-index: 1;
}
.bottom16:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom16 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom16:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button16{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn16{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2135px;
    right: 80px;
    opacity: 0;
}
.bottom16:hover .book-btn16{
    opacity: 1;
    z-index: 1;
}
.bottom16:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom16 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom16:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button17{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn17{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2650px;
    right: 990px;
    opacity: 0;
}
.bottom17:hover .book-btn17{
    opacity: 1;
    z-index: 1;
}
.bottom17:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom17 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom17:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button18{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn18{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2650px;
    right: 680px;
    opacity: 0;
}
.bottom18:hover .book-btn18{
    opacity: 1;
    z-index: 1;
}
.bottom18:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom18 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom18:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button19{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn19{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2650px;
    right: 380px;
    opacity: 0;
}
.bottom19:hover .book-btn19{
    opacity: 1;
    z-index: 1;
}
.bottom19:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom19 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom19:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*END*/
.button20{
    transform: translate(-50%,125%);
    height: 20px;
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: blueviolet;
    color:white;
    position: absolute;
    left:20px;
    bottom: 0;
    opacity: 0;
    transition:0.3s ease-out;
}
.book-btn20{
    position:absolute;
    bottom: 55px;
    color:white;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.788),rgb(131, 27, 227));
    border: none;
    height: 20px;
    width: 200px;
    border-radius: 5px;
    top: 2650px;
    right: 80px;
    opacity: 0;
}
.bottom20:hover .book-btn20{
    opacity: 1;
    z-index: 1;
}
.bottom20:hover img  {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 10px;
}
.bottom20 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}
.bottom20:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}