* {
    padding: 0;
    margin: 0;

    div {
        border:px solid red;
    }
}

.main {
    height: 350vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    gap: 30px;
}

.m1 {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.mt1 {
    flex: 2;
    display: flex;
    align-items: last baseline;

}

.text1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 40px;
}

.mt2 {
    flex: 1;
    display: flex;
    align-items: self-start;
}

.text2 {
    font-size: 20px;
    font-family: sans-serif;
    color: #5c5858;
}

.top1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.m2 {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.m21 {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;

}

.m22 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m23 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m3 {
    flex: 1;
    display: flex;
    align-items: center;
    color: #000000b1;

}

.m4 {
    flex: 7;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.m5 {
    flex: 1;
    display: flex;
    align-items: center;
}

.text3 {
    font-size: 15px;
    color: #000000a5;
}

.bottom1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}

.bottom1:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bt1 {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 10px;
    background-image: url(../assets/img11.jpg);
}

.bt2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.j1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.j2 {
    flex: 1;
    display: flex;
    align-items: center;
}

.j3 {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.o1 {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2px;
}

.o2 {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

.o3 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

img:hover {
    transform: scale(1.07);
    transition: 0.6s;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.text3 {
    font-family: sans-serif;
    font-size: 15px;
    color: #00000090;
}

.text4 {
    font-family: sans-serif;
    color: #0000006c;
    padding-left: 10px;
}

.text5 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
}

.text7 {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: blue;
}

.text {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.s1 {
    height: 18px;
    width: 20px;
    padding-left: 3px;
}

.k2 {
    height: 15px;
    width: 15px;
}

.text8 {
    font-size: 15px;
    font-family: sans-serif;
    color: #0000006c;
}

.m211 {
    height: 30px;
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #e7dcdc;
    border-radius: 8px;
}

.l2 {
    height: 15px;
    width: 15px;
    padding-left: 10px;
}

.l3 {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background-color: #e7dcdc;
    border-left: 0;
}

.k4 {
    height: 30px;
    background-color: #e7dcdc;
    outline: none;
    border: none;
    border-radius: 8px;
}

.u1 {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 100px;
}

.bottom2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 1px solid rgb(225, 214, 214);
    border-right: 1px solid rgb(225, 214, 214);
    border-left: 1px solid rgb(225, 214, 214);
}

.bottom2:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}