*{
    padding: 0;
    margin: 0;
    div{
        border: px solid red;
    }
}
.main{
    height: 120vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
     padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.m1{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.mt1{
    flex: 2;
    display: flex;
    align-items:last baseline;

}
.text1{
    font-weight:bold;
    font-family: sans-serif;
    font-size: 40px;
}
.mt2{
    flex: 1;
    display: flex;
    align-items: self-start;
}
.text2{
    font-size: 20px;
    font-family: sans-serif;
    color: #5c5858;
}
.top1{
    flex: 1;
    display: flex;
    align-items:center;
}
.m2{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.m21{
    flex: 5;
    display:flex;
    align-items: center;
    justify-content:center;

}
.m22{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m23{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m3{
    flex: 1;
    display: flex;
    align-items: center;
    color: #000000b1;
    
}
.m4{
    flex: 7;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.m5{
    flex: 1;
    display: flex;
    align-items: center;
}
.text3{
    font-size: 15px;
    color: #000000a5;
}
.bottom1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 2px solid rgb(225, 214, 214);
    border-right: 2px solid rgb(225, 214, 214);
    border-left: 2px solid rgb(225, 214, 214);
}
.bottom1:hover{
    border-bottom: 2px solid rgb(86, 83, 83);
    border-right: 2px solid rgb(86, 83, 83);
    border-left: 2px solid rgb(86, 83, 83);
}
.bt1{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.j1{
    flex: 1;
    display: flex;
    align-items: center;
}
.j2{
    flex: 1;
    display: flex;
    align-items: center;
}
.j3{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.o1{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2px;
}
.o2{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:5px;
}
.o3{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}
.k1{
    height: 370px;
    border-radius: 10px;
    border-bottom: 10px solid transparent;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    border-top: 2px;
}
.text3{
    font-family: sans-serif;
    font-size: 15px;
    color: #00000090;
}
.text4{
    font-family: sans-serif;
    color: #0000006c;
}
.text5{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.text7{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:blue;
}
.text{
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.s1{
    height: 20px;
    width: 20px;
}
.k2{
    height: 15px;
    width: 15px;
}
.text8{
    font-size: 15px;
    font-family: sans-serif;
     color: #0000006c;
}
.m211{
    height: 30px;
    width: 95%;
    display: flex;
    align-items: center;
    background-color: #e7dcdc;
    border-radius: 8px;
}
.l2{
    height: 15px;
    width: 15px;
    padding-left: 10px;
}
.l3{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    background-color:#e7dcdc;
    border-left: 0;
}
.p1{
    height: 30px;
    width: 160px;
    position:absolute;
    display: flex;
    top: 615px;
    background-color:blueviolet;
    border-radius: 8px;
    align-items:center;
    justify-content: center;
    color:white;
    font-weight: bold;
    font-family: sans-serif;
}
.k4{
    height: 30px;
    background-color:#e7dcdc;
    outline: none;
    border: none;
    border-radius: 8px;
}

