*{
    div{
        border: 2px solid red;
    }
}
.main{
    height: 90vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
     padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.m1{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.top1{
    flex: 1;
    display: flex;
    align-items:center;
}
.m2{
    flex: 1;
}
.m3{
    flex: 1;
    display: flex;
    align-items: center;
    color: #000000b1;
    
}
.m4{
    flex: 7;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.bottom1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
.bt1{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt2{
    flex: 1;
}
.k1{
    height: 280px;
    object-fit: cover;
}
