*{
    padding: 0;
    margin: 0;
    div{
        border: px solid red;
    }
}
.main{
    height: 120vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
     padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
.m1{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.mt1{
    flex: 2;
    display: flex;
    align-items:last baseline;

}
.text1{
    font-weight:bold;
    font-family: sans-serif;
    font-size: 40px;
}
.mt2{
    flex: 1;
    display: flex;
    align-items: self-start;
}
.text2{
    font-size: 20px;
    font-family: sans-serif;
    color: #5c5858;
}
.top1{
    flex: 1;
    display: flex;
    align-items:center;
}
.m2{
    flex: 1;
}
.m3{
    flex: 1;
    display: flex;
    align-items: center;
    color: #000000b1;
    
}
.m4{
    flex: 7;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.m5{
    flex: 1;
    display: flex;
    align-items: center;
}
.text3{
    font-size: 15px;
    color: #000000a5;
}
.bottom1{
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border-bottom: 2px solid rgb(225, 214, 214);
    border-right: 2px solid rgb(225, 214, 214);
    border-left: 2px solid rgb(225, 214, 214);
}
.bt1{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bt2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.j1{
    flex: 1;
    display: flex;
    align-items: center;
}
.j2{
    flex: 1;
    display: flex;
    align-items: center;
}
.j3{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.o1{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}
.o2{
    flex: 1;
}
.o3{
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
}
.k1{
    height: 370px;
    border-radius: 10px;
    
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    border-top: 2px;
}
.text3{
    font-family: sans-serif;
    font-size: 15px;
    color: #00000090;
}
.text4{
    font-family: sans-serif;
    color: #0000006c;
}
.text5{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.text7{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:blue;
}
.text{
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.s1{
    height: 20px;
    width: 20px;
}
